
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Modul Glavni prozor &#8212; Dokumentacija za projekat iz predmeta Uvod u razvoj softvera 1.0 documentation</title>
    <link rel="stylesheet" href="../../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    <script type="text/javascript" id="documentation_options" data-url_root="../../" src="../../_static/documentation_options.js"></script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="index" title="Index" href="../../genindex.html" />
    <link rel="search" title="Search" href="../../search.html" />
    <link rel="next" title="Paket util" href="../paketUtil.html" />
    <link rel="prev" title="Modul Forme" href="modulForme.html" />
   
  <link rel="stylesheet" href="../../_static/custom.css" type="text/css" />
  
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head><body>
  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <div class="section" id="module-view.glavni_prozor">
<span id="modul-glavni-prozor"></span><h1>Modul Glavni prozor<a class="headerlink" href="#module-view.glavni_prozor" title="Permalink to this headline">¶</a></h1>
<p>Modul koji sadrzi view klasu za opis glavnog prozora aplikacije, iz kojeg se pozivaju svi drugi.</p>
<p>&#64;author: Marko Krizan</p>
<dl class="class">
<dt id="view.glavni_prozor.GlavniProzor">
<em class="property">class </em><code class="descclassname">view.glavni_prozor.</code><code class="descname">GlavniProzor</code><a class="reference internal" href="../../_modules/view/glavni_prozor.html#GlavniProzor"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#view.glavni_prozor.GlavniProzor" title="Permalink to this definition">¶</a></dt>
<dd><p>View klasa glavnog prozora koja opisuje izlged svih pojedinacnih komponenti i funkcionalnosti za njegovo koriscenje.
Nasledjuje klasu TkInter</p>
<dl class="method">
<dt id="view.glavni_prozor.GlavniProzor.DodajAutomobil">
<code class="descname">DodajAutomobil</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/view/glavni_prozor.html#GlavniProzor.DodajAutomobil"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#view.glavni_prozor.GlavniProzor.DodajAutomobil" title="Permalink to this definition">¶</a></dt>
<dd><p>Metoda koja kreira prazan objekat automobila i prosledi ga formi za obradu koja ce izvrsiti insert funkcionalnost.</p>
</dd></dl>

<dl class="method">
<dt id="view.glavni_prozor.GlavniProzor.DodajDzip">
<code class="descname">DodajDzip</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/view/glavni_prozor.html#GlavniProzor.DodajDzip"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#view.glavni_prozor.GlavniProzor.DodajDzip" title="Permalink to this definition">¶</a></dt>
<dd><p>Metoda koja kreira prazan objekat dzipa i prosledi ga formi za obradu koja ce izvrsiti insert funkcionalnost.</p>
</dd></dl>

<dl class="method">
<dt id="view.glavni_prozor.GlavniProzor.DodajKvad">
<code class="descname">DodajKvad</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/view/glavni_prozor.html#GlavniProzor.DodajKvad"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#view.glavni_prozor.GlavniProzor.DodajKvad" title="Permalink to this definition">¶</a></dt>
<dd><p>Metoda koja kreira prazan objekat kvada i prosledi ga formi za obradu koja ce izvrsiti insert funkcionalnost.</p>
</dd></dl>

<dl class="method">
<dt id="view.glavni_prozor.GlavniProzor.DodajProstor">
<code class="descname">DodajProstor</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/view/glavni_prozor.html#GlavniProzor.DodajProstor"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#view.glavni_prozor.GlavniProzor.DodajProstor" title="Permalink to this definition">¶</a></dt>
<dd><p>Metoda koja kreira prazan objekat izlozbenog prostora i prosledi ga formi za obradu koja ce izvrsiti insert funkcionalnost.</p>
</dd></dl>

<dl class="method">
<dt id="view.glavni_prozor.GlavniProzor.IzmeniAutomobil">
<code class="descname">IzmeniAutomobil</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/view/glavni_prozor.html#GlavniProzor.IzmeniAutomobil"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#view.glavni_prozor.GlavniProzor.IzmeniAutomobil" title="Permalink to this definition">¶</a></dt>
<dd><p>Metoda koja formi za obradu entiteta automobila prosledi selektovani objekat nad kojim ona vrsi update funkcionalnost.</p>
</dd></dl>

<dl class="method">
<dt id="view.glavni_prozor.GlavniProzor.IzmeniDzip">
<code class="descname">IzmeniDzip</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/view/glavni_prozor.html#GlavniProzor.IzmeniDzip"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#view.glavni_prozor.GlavniProzor.IzmeniDzip" title="Permalink to this definition">¶</a></dt>
<dd><p>Metoda koja formi za obradu entiteta dzipa prosledi selektovani objekat nad kojim ona vrsi update funkcionalnost.</p>
</dd></dl>

<dl class="method">
<dt id="view.glavni_prozor.GlavniProzor.IzmeniKvad">
<code class="descname">IzmeniKvad</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/view/glavni_prozor.html#GlavniProzor.IzmeniKvad"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#view.glavni_prozor.GlavniProzor.IzmeniKvad" title="Permalink to this definition">¶</a></dt>
<dd><p>Metoda koja formi za obradu entiteta kvada prosledi selektovani objekat nad kojim ona vrsi update funkcionalnost.</p>
</dd></dl>

<dl class="method">
<dt id="view.glavni_prozor.GlavniProzor.IzmeniProstor">
<code class="descname">IzmeniProstor</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/view/glavni_prozor.html#GlavniProzor.IzmeniProstor"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#view.glavni_prozor.GlavniProzor.IzmeniProstor" title="Permalink to this definition">¶</a></dt>
<dd><p>Metoda koja formi za obradu entiteta izlozbenog prostora prosledi selektovani objekat nad kojim ona vrsi update funkcionalnost.</p>
</dd></dl>

<dl class="method">
<dt id="view.glavni_prozor.GlavniProzor.NadjiAutomobil">
<code class="descname">NadjiAutomobil</code><span class="sig-paren">(</span><em>query</em><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/view/glavni_prozor.html#GlavniProzor.NadjiAutomobil"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#view.glavni_prozor.GlavniProzor.NadjiAutomobil" title="Permalink to this definition">¶</a></dt>
<dd><p>Metoda koja prosledjuje kriterijum za pretragu kontroleru od kojeg dobija kolekciju objekata koji su rezultat
pretrage, sa kojima ponovo puni graficku komponentu za prikaz</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><strong>query</strong> – string vrednost kriterijuma za pretragu</td>
</tr>
</tbody>
</table>
</dd></dl>

<dl class="method">
<dt id="view.glavni_prozor.GlavniProzor.NadjiDzip">
<code class="descname">NadjiDzip</code><span class="sig-paren">(</span><em>query</em><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/view/glavni_prozor.html#GlavniProzor.NadjiDzip"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#view.glavni_prozor.GlavniProzor.NadjiDzip" title="Permalink to this definition">¶</a></dt>
<dd><p>Metoda koja prosledjuje kriterijume za pretragu kontroleru od kojeg dobija kolekciju objekata koji su rezultat
pretrage, sa kojima ponovo puni graficku komponentu za prikaz</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><strong>query</strong> – string vrednost kriterijuma za pretragu</td>
</tr>
</tbody>
</table>
</dd></dl>

<dl class="method">
<dt id="view.glavni_prozor.GlavniProzor.NadjiKvad">
<code class="descname">NadjiKvad</code><span class="sig-paren">(</span><em>query</em><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/view/glavni_prozor.html#GlavniProzor.NadjiKvad"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#view.glavni_prozor.GlavniProzor.NadjiKvad" title="Permalink to this definition">¶</a></dt>
<dd><p>Metoda koja prosledjuje kriterijume za pretragu kontroleru od kojeg dobija kolekciju objekata koji su rezultat
pretrage, sa kojima ponovo puni graficku komponentu za prikaz</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><strong>query</strong> – string vrednost kriterijuma za pretragu</td>
</tr>
</tbody>
</table>
</dd></dl>

<dl class="method">
<dt id="view.glavni_prozor.GlavniProzor.NadjiProstor">
<code class="descname">NadjiProstor</code><span class="sig-paren">(</span><em>query</em><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/view/glavni_prozor.html#GlavniProzor.NadjiProstor"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#view.glavni_prozor.GlavniProzor.NadjiProstor" title="Permalink to this definition">¶</a></dt>
<dd><p>Metoda koja prosledjuje kriterijum za pretragu kontroleru od kojeg dobija kolekciju objekata koji su rezultat
pretrage, sa kojima ponovo puni graficku komponentu za prikaz</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><strong>query</strong> – string vrednost kriterijuma za pretragu</td>
</tr>
</tbody>
</table>
</dd></dl>

<dl class="method">
<dt id="view.glavni_prozor.GlavniProzor.ObrisiAutomobil">
<code class="descname">ObrisiAutomobil</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/view/glavni_prozor.html#GlavniProzor.ObrisiAutomobil"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#view.glavni_prozor.GlavniProzor.ObrisiAutomobil" title="Permalink to this definition">¶</a></dt>
<dd><p>Metoda koja selektovani objekat automobila prosledjuje kontroleru za uklanjanje iz kolekcije i perzistiranje i osvezava view.</p>
</dd></dl>

<dl class="method">
<dt id="view.glavni_prozor.GlavniProzor.ObrisiDzip">
<code class="descname">ObrisiDzip</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/view/glavni_prozor.html#GlavniProzor.ObrisiDzip"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#view.glavni_prozor.GlavniProzor.ObrisiDzip" title="Permalink to this definition">¶</a></dt>
<dd><p>Metoda koja selektovani objekat dzipa prosledjuje kontroleru za uklanjanje iz kolekcije i perzistiranje i osvezava view.</p>
</dd></dl>

<dl class="method">
<dt id="view.glavni_prozor.GlavniProzor.ObrisiKvad">
<code class="descname">ObrisiKvad</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/view/glavni_prozor.html#GlavniProzor.ObrisiKvad"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#view.glavni_prozor.GlavniProzor.ObrisiKvad" title="Permalink to this definition">¶</a></dt>
<dd><p>Metoda koja selektovani objekat kvada prosledjuje kontroleru za uklanjanje iz kolekcije i perzistiranje i osvezava view.</p>
</dd></dl>

<dl class="method">
<dt id="view.glavni_prozor.GlavniProzor.ObrisiProstor">
<code class="descname">ObrisiProstor</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/view/glavni_prozor.html#GlavniProzor.ObrisiProstor"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#view.glavni_prozor.GlavniProzor.ObrisiProstor" title="Permalink to this definition">¶</a></dt>
<dd><p>Metoda koja selektovani objekat izlozbenog prostora prosledjuje kontroleru za uklanjanje iz kolekcije i perzistiranje i osvezava view.</p>
</dd></dl>

<dl class="method">
<dt id="view.glavni_prozor.GlavniProzor.OsveziAutomobile">
<code class="descname">OsveziAutomobile</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/view/glavni_prozor.html#GlavniProzor.OsveziAutomobile"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#view.glavni_prozor.GlavniProzor.OsveziAutomobile" title="Permalink to this definition">¶</a></dt>
<dd><p>Metoda koja osvezava graficku komponentu za prikaz entiteta automobila tako sto je prvo ocisti i ponovo ucita iz kolekcije.</p>
</dd></dl>

<dl class="method">
<dt id="view.glavni_prozor.GlavniProzor.OsveziDzipove">
<code class="descname">OsveziDzipove</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/view/glavni_prozor.html#GlavniProzor.OsveziDzipove"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#view.glavni_prozor.GlavniProzor.OsveziDzipove" title="Permalink to this definition">¶</a></dt>
<dd><p>Metoda koja osvezava graficku komponentu za prikaz entiteta dzipova tako sto je prvo ocisti i ponovo ucita iz kolekcije.</p>
</dd></dl>

<dl class="method">
<dt id="view.glavni_prozor.GlavniProzor.OsveziKvadove">
<code class="descname">OsveziKvadove</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/view/glavni_prozor.html#GlavniProzor.OsveziKvadove"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#view.glavni_prozor.GlavniProzor.OsveziKvadove" title="Permalink to this definition">¶</a></dt>
<dd><p>Metoda koja osvezava graficku komponentu za prikaz entiteta kvadova tako sto je prvo ocisti i ponovo ucita iz kolekcije.</p>
</dd></dl>

<dl class="method">
<dt id="view.glavni_prozor.GlavniProzor.OsveziProstore">
<code class="descname">OsveziProstore</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/view/glavni_prozor.html#GlavniProzor.OsveziProstore"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#view.glavni_prozor.GlavniProzor.OsveziProstore" title="Permalink to this definition">¶</a></dt>
<dd><p>Metoda koja osvezava graficku komponentu za prikaz entiteta izlozbenih prostora tako sto je prvo ocisti i ponovo ucita iz kolekcije.</p>
</dd></dl>

<dl class="method">
<dt id="view.glavni_prozor.GlavniProzor.SortirajAutomobile">
<code class="descname">SortirajAutomobile</code><span class="sig-paren">(</span><em>kriterijum</em><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/view/glavni_prozor.html#GlavniProzor.SortirajAutomobile"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#view.glavni_prozor.GlavniProzor.SortirajAutomobile" title="Permalink to this definition">¶</a></dt>
<dd><p>Metoda koja prima parametar kriterujama za sortiranje koji prosledjuje kontroleru od kojeg dobija sortiranu kolekciju
koju koristi pri ponovnom osvezavanju graficke komponente za prikaz.</p>
</dd></dl>

<dl class="method">
<dt id="view.glavni_prozor.GlavniProzor.SortirajDzipove">
<code class="descname">SortirajDzipove</code><span class="sig-paren">(</span><em>kriterijum</em><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/view/glavni_prozor.html#GlavniProzor.SortirajDzipove"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#view.glavni_prozor.GlavniProzor.SortirajDzipove" title="Permalink to this definition">¶</a></dt>
<dd><p>Metoda koja prima parametar kriterujama za sortiranje koji prosledjuje kontroleru od kojeg dobija sortiranu kolekciju
koju koristi pri ponovnom osvezavanju graficke komponente za prikaz.</p>
</dd></dl>

<dl class="method">
<dt id="view.glavni_prozor.GlavniProzor.SortirajKvadove">
<code class="descname">SortirajKvadove</code><span class="sig-paren">(</span><em>kriterijum</em><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/view/glavni_prozor.html#GlavniProzor.SortirajKvadove"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#view.glavni_prozor.GlavniProzor.SortirajKvadove" title="Permalink to this definition">¶</a></dt>
<dd><p>Metoda koja prima parametar kriterujama za sortiranje koji prosledjuje kontroleru od kojeg dobija sortiranu kolekciju
koju koristi pri ponovnom osvezavanju graficke komponente za prikaz.</p>
</dd></dl>

<dl class="method">
<dt id="view.glavni_prozor.GlavniProzor.detaljiAutomobili">
<code class="descname">detaljiAutomobili</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/view/glavni_prozor.html#GlavniProzor.detaljiAutomobili"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#view.glavni_prozor.GlavniProzor.detaljiAutomobili" title="Permalink to this definition">¶</a></dt>
<dd><p>Metoda koja poziva view za prikaz detalja o selektovanom entitetu automobila.</p>
</dd></dl>

<dl class="method">
<dt id="view.glavni_prozor.GlavniProzor.detaljiDzipovi">
<code class="descname">detaljiDzipovi</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/view/glavni_prozor.html#GlavniProzor.detaljiDzipovi"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#view.glavni_prozor.GlavniProzor.detaljiDzipovi" title="Permalink to this definition">¶</a></dt>
<dd><p>Metoda koja poziva view za prikaz detalja o selektovanom entitetu dzipa.</p>
</dd></dl>

<dl class="method">
<dt id="view.glavni_prozor.GlavniProzor.detaljiKvadovi">
<code class="descname">detaljiKvadovi</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/view/glavni_prozor.html#GlavniProzor.detaljiKvadovi"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#view.glavni_prozor.GlavniProzor.detaljiKvadovi" title="Permalink to this definition">¶</a></dt>
<dd><p>Metoda koja poziva view za prikaz detalja o selektovanom entitetu kvada.</p>
</dd></dl>

<dl class="method">
<dt id="view.glavni_prozor.GlavniProzor.detaljiProstori">
<code class="descname">detaljiProstori</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/view/glavni_prozor.html#GlavniProzor.detaljiProstori"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#view.glavni_prozor.GlavniProzor.detaljiProstori" title="Permalink to this definition">¶</a></dt>
<dd><p>Metoda koja poziva view za prikaz detalja o selektovanom entitetu izlozbenog prostora.</p>
</dd></dl>

</dd></dl>

</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper"><div class="relations">
<h3>Related Topics</h3>
<ul>
  <li><a href="../../index.html">Documentation overview</a><ul>
  <li><a href="../paketView.html">Paket view</a><ul>
      <li>Previous: <a href="modulForme.html" title="previous chapter">Modul Forme</a></li>
      <li>Next: <a href="../paketUtil.html" title="next chapter">Paket util</a></li>
  </ul></li>
  </ul></li>
</ul>
</div>
  <div role="note" aria-label="source link">
    <h3>This Page</h3>
    <ul class="this-page-menu">
      <li><a href="../../_sources/rstfajlovi/view/modulGlavniProzor.rst.txt"
            rel="nofollow">Show Source</a></li>
    </ul>
   </div>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    </div>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="footer">
      &copy;2018, Tim22.
      
      |
      Powered by <a href="http://sphinx-doc.org/">Sphinx 1.7.5</a>
      &amp; <a href="https://github.com/bitprophet/alabaster">Alabaster 0.7.10</a>
      
      |
      <a href="../../_sources/rstfajlovi/view/modulGlavniProzor.rst.txt"
          rel="nofollow">Page source</a>
    </div>

    

    
  </body>
</html>